.container {
	height: 1000px;
	overflow-y: hidden;
}

.box {
	height: 1000px;
	background-color: blue;
}

.red {
	position: absolute;
	height: 1000px;
	width: 100%;
	background-color: red;

	top: 1000px;

	transition: all 0.55s ease-out;
	z-index: 10;
}

.red-top {
	position: absolute;
	top: 0px;
}

.hide {
	display: none;
}